html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: $ovp-light;
    color: $text-color;
    background-color: $background-color;
}

//remove all margins
h1, h2, h3, h4, p {
    margin: 0;
    font-weight: normal;
}

p {
    color: $paragraph-color;
    line-height: 1.5;
}

// 'normalize' some other elements (personal pref)
a {
    text-decoration: none;
    color: $main-color;
    font-size: 14px;
}

i {
    color: $main-color;
}

img {
    width: 100%;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

section, footer {
    padding: 56px 0;
    
    @include bp-normal {
        padding: 16px 0;
    }
}

.wrapper {
    padding: 0 20px;
    margin: 0 auto;

    @include bp-medium {
        padding: 0 20px
    }
}
